.todo
{
    width: 600px;
    min-height: 732px;
    border-radius: 20px;
    background: white;
    /* /* border: ; */
    outline: 2px solid rgb(3, 3, 3); 
    /* padding: 10px;  */
    margin:auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    padding-bottom:30px;
    margin-bottom: 100px;
}

body{
    color:black
}

.todo-header{
    margin-top: 84px;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
}

.todo-add{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.todo-input{
    border-radius: 50px;
    background-color: #3adadf;
    border: none;
    outline: none;
    width: 576px;
    height: 50px;
    padding-left: 30px;
    font-size: 20px;
}
.todo-btn{
    border-radius: 50px;
    background: #ff6739;
    width: 187px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}